/* Google Font */

@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */

body {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  background-color: hsl(204, 43%, 93%);
  min-height: 100vh;
  display: grid;
  place-content: center;
  gap: 2rem;
  padding: 3em;
}

/* Grid */

main {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 45ch;
  border-radius: 2rem;
  box-shadow: 2px 4px 100px rgba(12, 14, 14, 0.246);
}

/* section */

.wrapper {
  padding: 3.5rem 2.5rem;
  background-color: hsl(0, 0%, 100%);
  border-top-left-radius: 0.9rem;
  border-top-right-radius: 0.9rem;
  display: grid;
  gap: 1rem;
}

section {
  background-color: hsl(179, 62%, 43%);
  padding: 3.5rem 2.5rem;
  color: hsl(0, 0%, 100%);
  display: grid;
  gap: 1rem;
}

section:nth-of-type(2) {
  background-color: hsl(179, 64%, 37%);
  border-bottom-left-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
}

/* Components */

.title {
  color: hsl(179, 64%, 37%);
  margin-bottom: 1rem;
}
.lead {
  color: hsl(71, 73%, 54%);
}

.description {
  line-height: 1.5;
  color: hsl(218, 22%, 67%);
}

.sp {
  font-size: 3rem;
  font-weight: 700;
  padding-right: 1rem;
}
button[type="button"] {
  padding: 1rem;
  outline: 0ch;
  border: none;
  background-color: hsl(71, 73%, 54%);
  color: hsl(0, 0%, 100%);
  font: inherit;
  box-shadow: 10px 5px 100px hsla(179, 57%, 56%, 0.87);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 300ms ease-in-out, background-color 250ms ease-in-out;
}

button[type="button"]:hover,
button[type="button"]:focus {
  transform: scale(1.04);
  background-color: hsla(71, 73%, 54%, 0.75);
}

section:nth-of-type(2) p {
  line-height: 1.5;
  color: hsl(177, 34%, 88%);
}

@media (min-width: 45rem) {
  main {
    grid-template-columns: repeat(2, 1fr);
    max-width: 75ch;
  }

  .wrapper {
    grid-column: 1/3;
  }
  section:nth-of-type(1) {
    border-bottom-left-radius: 0.9rem;
  }
  section:nth-of-type(2) {
    border-bottom-left-radius: 0rem;
  }
}

@media (min-width: 60rem) {
  main {
    max-width: 90ch;
  }
}

footer {
  text-align: center;
}

footer a {
  display: inline-flex;
  text-decoration: none;
  color: hsl(179, 64%, 37%);
  font-style: oblique;
}
